<!-- Start: STAY UP TO DATE -->
<section class="subscribe-section">
    <div class="container">
        <h3>Stay <span>Up To Date</span></h3>
        <p class="sub-hd">Enter details to subscribe for latest update</p>
        <div class="form-ctnt">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Email ID">
            <div class="multi-select">
                <a href="javascript:void(0)" class="custom-drop-down-box"><span>Select Industry</span>
                    <span id="getValue"></span><span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <div class="custom-list-box">
                    <ul class="check_list clearfix">
                        <li class="checkAll">
                            <input type="checkbox" value="All Events"><span>Select All</span></li>
                        <li>
                            <input type="checkbox" value="Agriculture"><span>Agriculture</span></li>
                        <li>
                            <input type="checkbox" value="Automobile"><span>Automobile</span></li>
                        <li>
                            <input type="checkbox" value="Information Technology"><span>Information Technology</span></li>
                        <li>
                            <input type="checkbox" value="Realty"><span>Realty</span></li>
                        <li>
                            <input type="checkbox" value="Defence"><span>Defence</span></li>
                    </ul>
                </div>
            </div>
            <div class="btn-box">
                <input type="button" value="Subscribe" class="btn btn-primary">
            </div>
        </div>
    </div>
</section>
<!-- Start: Footer -->
<footer class="footer">
    <div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-4">
            <p class="follow">Follow us</p>
            <div class="follo-icon">
                <a href="" class="fb"></a>
                <a href="" class="twiter"></a>
                <a href="" class="youtube"></a>
                <a href="" class="instagram"></a>
            </div>
        </div>
        <div class="col-md-9 col-xs-8 text-right">
            <p class="copyright"><a href="">Disclaimer</a> | <a href="">Terms of Use</a> | <a href="">Privacy Policy</a> | Copyright © 2018 Mahindra.com. All rights reserved</p>
        </div>
    </div>
</div>

</footer>