<!-- Start: Search -->
<section class="search-bx">
    <div class="container">
        <div class="search">
            <input type="text" placeholder="Search for News, Media, Press...">
            <a href="" class="search-icn"><img src="/content/dam/AEMDemo/images/search-btn.gif" alt=""></a>
        </div>
        <div class="search-option hidden-xs"><span>Browse by Industry :</span> <a href="javascript:;">Agriculture</a> | <a href="javascript:;">Automobile</a> | <a href="javascript:;">Information Technology</a> | <a href="javascript:;">Realty</a> | <a href="javascript:;">Defence</a> |
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">More industries
  <span class="glyphicon glyphicon-chevron-down"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a href="#">Aerospace</a></li>
                    <li><a href="#">Retail</a></li>
                    <li><a href="#">Real Estate</a></li>
                    <li><a href="#">Constructions</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Steel</a></li>
                </ul>
            </div>
        </div>
        <div class="search-option visible-xs"><span>Browse by Industry :</span>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">All industries
  <span class="glyphicon glyphicon-chevron-down"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a href="#">Aerospace</a></li>
                    <li><a href="#">Retail</a></li>
                    <li><a href="#">Real Estate</a></li>
                    <li><a href="#">Constructions</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Steel</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--end-->