<!-- Start: Home Banner -->
<section class="home-banner">
    <div class="banner-txt">
        <div class="container">
            <div class="ban-top">
                <div class="row">
                    <div class="col-md-5 col-sm-9">
                        <h1>Shaping <br>the <span>future</span></h1>
                        <div class="card-line"></div>
                        <p>From solar lamps and water jugs and even prosthetic limbs, 3D printing has the potential to drive positive change in the lives of people everywhere. <span class="hidden-xs">The Mahindra Group has now designed and implemented a pilot project to bring its benefits to semi-urban and rural India.</span></p>
                    </div>
                </div>
                <div class="share-box opt1">
                    <div class="share-icon">
                        <a href="" class="fb"></a>
                        <a href="" class="twiter"></a>
                        <a href="" class="youtube"></a>
                        <a href="" class="instagram"></a>
                    </div>
                    <a href="javascript:;" class="share FR"></a>
                </div>
            </div>
            <div class="ban-btm">
                <div class="row">
                    <div class="col-md-4 col-xs-4 flex-row">
                        <img src="/content/dam/AEMDemo/images/card1.jpg" alt="">
                        <div class="">
                            <h4>Back at <br>it!</h4>
                            <p class="more"><a href="">Know More &rang;</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 flex-row">
                        <img src="/content/dam/AEMDemo/images/card2.jpg" alt="">
                        <div class="">
                            <h4>Reinventing <br>supply chain</h4>
                            <p class="more"><a href="">Know More &rang;</a></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 flex-row">
                        <img src="/content/dam/AEMDemo/images/card3.jpg" alt="">
                        <div class="">
                            <h4>My Gadget <br>Life
                            </h4>
                            <p class="more"><a href="">Know More &rang;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="/content/dam/AEMDemo/images/home-banner.jpg" class="img-responsive hidden-sm hidden-xs" alt="">
    <img src="/content/dam/AEMDemo/images/home-banner-tab.jpg" class="img-responsive visible-sm" alt="">
    <img src="/content/dam/AEMDemo/images/home-banner-mob.jpg" class="img-responsive visible-xs" alt="">
</section>

<!--end-->