<sly data-sly-use.header="com.aem.demo.core.controllers.HeaderController"/>
<header>
    <div class="logo-box">
        <a href="../menu.html">
            <img src="/content/dam/AEMDemo/images/logo.png" class="logo-main" alt="mahindra logo">
            <img src="/content/dam/AEMDemo/images/logo-s.png" class="logo-sub" alt="mahindra logo">
        </a>
    </div>
    <div class="sub-nav">
        <div class="container">
            <ul>
                <li class="hidden-xs"><a href="">Resources</a></li>
                <li class="hidden-xs"><a href="">Contacts</a></li>
                <li class="last"><a href="javascript:;" class="search-home"><img src="/content/dam/AEMDemo/images/icn-search.png" alt=""></a></li>
                <li class="hamburger"><a href="javascript:;" class="btn-humbeger"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <ul class="main-nav">              
                <sly data-sly-list="${header.headerModels}">
	                <li>
	                	<a href="${item.value}.html">${item.name}</a>
	                </li>
    			</sly>		
				
				<!-- 
				<li data-sly-repeat="${currentPage.parent.listChildren}" >
                <a href="${item.path}.html">${item.pageTitle}</a>
                <ul><li>TEST</li></ul>
                </li>
				<li><a href="">News</a></li>
                <li><a href="">Stories</a></li>
                <li><a href="">Others</a></li>
                <li class="visible-xs"><a href="">Resources</a></li>
                <li class="visible-xs"><a href="">Contacts</a></li> -->
            </ul>
        </div>
    </div>
</header>