<!-- Start: LATEST HAPPENINGS -->
<section class="happenings">
    <div class="container">
        <div class="hd-box">
            <h3>Latest <span>Happenings:</span></h3>
            <div class="multi-select">
                <a href="javascript:void(0)" class="custom-drop-down-box"><span>India</span>
                    <span id="getValue"></span><span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <div class="custom-list-box">
                    <ul class="check_list clearfix">
                        <li class="checkAll">
                            <input type="checkbox" value="All Events"><span>Select All</span></li>
                        <li>
                            <input type="checkbox" value="region2"><span>Kenya</span></li>
                        <li>
                            <input type="checkbox" value="region2"><span>Australia</span></li>
                        <li>
                            <input type="checkbox" value="region2"><span>U.K</span></li>
                        <li>
                            <input type="checkbox" value="region2"><span>US</span></li>
                        <li>
                            <input type="checkbox" value="region2"><span>Africa</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="region1">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabs1">Press release</a></li>
                <li><a data-toggle="tab" href="#tabs2">In the news</a></li>
                <li><a data-toggle="tab" href="#tabs3">Stories</a></li>
                <li><a data-toggle="tab" href="#tabs4">Others</a></li>
            </ul>
            <div class="tab-content">
                <div id="tabs1" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 news-item">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>Published in 2 languages
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item last">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a data-toggle="modal" href="#myModal" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <hr class="col-md-12 hidden-xs">
                        <div class="col-md-4 col-sm-4 news-item hidden-xs">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item hidden-xs">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>Published in 2 languages
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item hidden-xs last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div id="tabs2" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 news-item">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <hr>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a href="#" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div id="tabs3" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 news-item">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <hr>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a href="#" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div id="tabs4" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 news-item">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <hr>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a href="#" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="region2" class="disNone">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Press release</a></li>
                <li><a data-toggle="tab" href="#menu1">In the news</a></li>
                <li><a data-toggle="tab" href="#home">Stories</a></li>
                <li><a data-toggle="tab" href="#menu1">Others</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 news-item">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>Published in 2 languages
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item last">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a data-toggle="modal" href="#myModal" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <hr class="col-md-12 hidden-xs">
                        <div class="col-md-12">
                            <p class="sub-hd1">Press Release from other parts of the globe</p>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item hidden-xs">
                            <p class="date">KENYA, 23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item hidden-xs">
                            <p class="date">UK, 22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>Published in 2 languages
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 news-item hidden-xs last">
                            <p class="date">USA, 23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share-box">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="javascript:;" class="share FR"></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-4 news-item">
                            <p class="date">20 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <div class="share">
                                <div class="share-icon">
                                    <a href="" class="fb"></a>
                                    <a href="" class="twiter"></a>
                                    <a href="" class="youtube"></a>
                                    <a href="" class="instagram"></a>
                                </div>
                                <a href="" class="share FR"></a>
                            </div>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Insurance Brokers partners with Nagpur Nagrik Sahakari Bank</a></h4>
                                <div class="photo-wraper">
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item"><a href=""><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                    <div class="item more"><a href="#"><span>+ 12 More</span><img src="/content/dam/AEMDemo/images/100x100.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <hr>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra launches the All-New TUV300 PLUS</a></h4>
                                <div class="video-bx"><a href="#" class="play"></a>
                                    <img src="/content/dam/AEMDemo/images/315x140.jpg" alt="">
                                </div>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                        <div class="col-md-4 news-item">
                            <p class="date">22 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Mahindra Automotive North America Continues Investment In Detroit Urban Farming With $127,000 In Grants To Eight Local Non-Profits</a></h4>
                                <p>Now in its fourth year, the Mahindra Urban Agriculture Grant Program disbursed $127,000 in funding and equipment to eight southeast Michigan non-profits in Detroit...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a>Published in 2 languages</p>
                        </div>
                        <div class="col-md-4 news-item last">
                            <p class="date">23 June, 2018</p>
                            <div class="ctnt-wraper">
                                <h4><a href="">Tech Mahindra Collaborates with the UN to Support the International Day of Yoga</a></h4>
                                <p>Announced today its collaboration with the Permanent Mission of India (PMI) to the United Nations (UN) to support the International Day of Yoga...</p>
                            </div>
                            <p class="MB0"><a href="" class="share FR"></a></p>
                        </div>
                    </div>
                    <div class="btn-box CTR">
                        <a href="javascript:void(0)" class="btn btn-primary">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="myModal" class="modal videoModal fade" role="dialog">
    <div class="container MT30">
        <!-- Modal content-->
        <div class="popup story-video"><button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="video-bg1 videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/F83r9SsJUq4?autoplay=0&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<!--end-->