<!-- Start: MEDIA RESOURCES -->
<section class="media-resource">
    <div class="container">
        <h3>Media <span>Resources</span></h3>
        <div class="row MT40">
            <div class="col-md-6">
                <div class="MB30">
                    <figure><a href=""><img src="/content/dam/AEMDemo/images/530x320.jpg" alt=""></a></figure>
                    <figcation>
                        <h5><a href="">Management Photos</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                    </figcation>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6 PR7">
                        <figure><a href=""><img src="/content/dam/AEMDemo/images/250x150.jpg" alt=""></a></figure>
                        <figcation>
                            <h5><a href="">Brochures</a></h5>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </figcation>
                    </div>
                    <div class="col-md-6 col-xs-6 PL7">
                        <figure><a href=""><img src="/content/dam/AEMDemo/images/250x150.jpg" alt=""></a></figure>
                        <figcation>
                            <h5><a href="">Financial report</a></h5>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </figcation>
                    </div>
                </div>
            </div>
            <div class="MT30 visible-sm"></div>
            <div class="col-md-6 hidden-xs">
                <div class="row MB30">
                    <div class="col-md-6 col-xs-6">
                        <figure><a href=""><img src="/content/dam/AEMDemo/images/250x150.jpg" alt=""></a></figure>
                        <figcation>
                            <h5><a href="">Brochures</a></h5>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </figcation>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <figure><a href=""><img src="/content/dam/AEMDemo/images/250x150.jpg" alt=""></a></figure>
                        <figcation>
                            <h5><a href="">Financial report</a></h5>
                            <p>Lorem ipsum dolor sit amet...</p>
                        </figcation>
                    </div>
                </div>
                <div>
                    <figure><a href=""><img src="/content/dam/AEMDemo/images/530x320.jpg" alt=""></a></figure>
                    <figcation>
                        <h5><a href="">Management Photos</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                    </figcation>
                </div>
            </div>
        </div>
        <div class="btn-box CTR">
            <a href="javascript:void(0)" class="btn btn-primary">Load More</a>
        </div>
    </div>
</section>

<!--end-->